.outsideBox{
	width: 892px;
	height: 1386px;
	background-color: #fff;
	/* background-color: grey;  */
	margin: 0 auto;
	padding:0 44px;
}
/* head start */
.headBox .ife{
	width: 110px;
	height: 61px;
	font:normal 600 12px/12px  SimHei;
	color: #ffffff;
	position: relative;
	background-color: #D45C5B;
}
.headBox .ife span{
    position: absolute;
    left:7px;
    bottom: 6px;
}
.headBox .headBoxLine{
	width: 892px;
	height: 2px;
	background-color: #938e8c;
}
/* head end */

/* topBox start */
.topBox{
	margin: 34px 0px 41px 0px;
	position: relative;
	
}
.topBox img,.topBox .topBoxRight{
	display: inline-block;
}
.topBox img{
	width: 641px;
	height: 301px;
}
.topBox .topBoxRight{
    
    position: absolute;
    right:1px;
	width: 203px;
	height: 300px;
	border-top:2px solid #cc8091;
}
.topBoxRight .about,.topBoxRight .technologe{
	display: inline-block;
	font:normal 17px 微软雅黑;
	color: #000000;
	border-bottom:solid 2px #938e8c;
	margin: 0px 20px 0px 0px;
}
.topBoxRight .about span,.topBoxRight .technologe span{
	font-size: 24px;
}
.topBoxRight .technologe{
	margin-top: 0px;
	margin-bottom: 0px;

}
.topBoxRight{
	position: relative;
}
.topBoxRight p{
	font:normal 12px/12px  KaiTi;
	color: #676767;
	padding:0px;
	margin:2px;

}
.topBoxRight .bigNumber{
	font:italic 600 116px 微软雅黑;
	color: #75b86b;
	position: relative;
	left:-25px;
}
.topBoxRight .secondNumber{
	font-family: 微软雅黑;
	color: #cc8091;
	left: 0px;
    bottom: 5px;
    position: relative;
}
.topBoxRight .secondNumber .first{
	font-size: 55px;
	display: inline-block;
	position: relative;
}
.topBoxRight .secondNumber .second{
	font-size: 21px;
	display: inline-block;
	bottom: 18px;
	left: 80px;
	position: absolute;
}.topBoxRight  .secondNumber .last{
	font-size: 12px;
	display: inline-block;
	position: relative;
	color: grey;
}
/* topBox end */

/* midBox start */

.midBox{
   background-color: green;
   width: 641px;
   font:normal 12px 微软雅黑;
   color: #231815;
   line-height: 16px;
}
.midBox .midBox_left,.midBox .midBox_mid,.midBox .midBox_right{
	display: inline-block;
	margin: 10px 10px 10px 0;
}
.midBox .midBox_left{
	width:40%;
}
.midBox .midBox_mid{
	width:30%;
}
.midBox .midBox_right{
	width:20%;
}

.midBox .percent{
	position: relative;
	left: 0px;
	bottom: 0px;
}

/* midBox end */

.lastBox{
	margin:71px 0 37px 0px;
	background-color: green;
}
/* lastBox start */
/* lastBox end */

/* footBox start */
.footBox .footBoxLine{
	background-color: #938e8c;
	height: 1px;
	width: 892px;
}
.footBox span{
    font:normal 12px SimHei;
    display: inline-block;
    color: #d45d5c;
    float: right;
}
/* footBox end */