body{
	background: black;
}
.outsideBox{
	width: 892px;
	height: 1386px;
	background-color: #fff;
	/* background-color: grey;  */
	margin: 0 auto;
	padding:0 44px;
}
/* head start */
.headBox .ife{
	width: 110px;
	height: 61px;
	font:normal 600 12px/12px  SimHei;
	color: #ffffff;
	position: relative;
	background-color: #D45C5B;
}
.headBox .ife span{
    position: absolute;
    left:7px;
    bottom: 6px;
}
.headBox .headBoxLine{
	width: 892px;
	height: 2px;
	background-color: #938e8c;
}
/* head end */

/* topBox start */
.topBox{
	margin: 34px 0px 41px 0px;
	position: relative;
	
}
.topBox img,.topBox .topBoxRight{
	display: inline-block;
}
.topBox img{
	width: 641px;
	height: 301px;
}
.topBox .topBoxRight{
    
    position: absolute;
    right:1px;
	width: 203px;
	height: 300px;
	border-top:2px solid #cc8091;
}
.topBoxRight .about,.topBoxRight .technologe{
	display: inline-block;
	font:normal 17px 微软雅黑;
	color: #000000;
	border-bottom:solid 2px #938e8c;
	margin: 0px 20px 0px 0px;
}
.topBoxRight .about span,.topBoxRight .technologe span{
	font-size: 24px;
}
.topBoxRight .technologe{
	margin-top: 0px;
	margin-bottom: 0px;

}
.topBoxRight{
	position: relative;
}
.topBoxRight p{
	font:normal 12px/12px  KaiTi;
	color: #676767;
	padding:0px;
	margin:2px;

}
.topBoxRight .bigNumber{
	font:italic 600 116px 微软雅黑;
	color: #75b86b;
	position: relative;
	left:-25px;
}
.topBoxRight .secondNumber{
	font-family: 微软雅黑;
	color: #cc8091;
	left: 0px;
    bottom: 5px;
    position: relative;
}
.topBoxRight .secondNumber .first{
	font-size: 55px;
	display: inline-block;
	position: relative;
}
.topBoxRight .secondNumber .second{
	font-size: 21px;
	display: inline-block;
	bottom: 18px;
	left: 80px;
	position: absolute;
}.topBoxRight  .secondNumber .last{
	font-size: 12px;
	display: inline-block;
	position: relative;
	color: grey;
}
/* topBox end */

/* midBox start */
.midBox .midBox_left>span,.midBox .midBox_mid>span,.midBox .midBox_right>span{
	display: block;
	height: 27px;
	margin: 0px;
	font:normal 16px 600 微软雅黑 ;
	text-decoration: underline;
}
.midBox .midBox_left>span{
	color: #418c59;
}
.midBox .midBox_mid>span{
	color: #d2994f;
}
.midBox .midBox_right>span{
	color: #cc7680;

}
.midBox{
   
   width: 641px;
   height: 169px;
   margin:0;
   padding:0; 
   opacity:0.7;
   filter:Alpha(opacity=50); /* IE8 以及更早的浏览器 */
}
.midBox .midBox_left,.midBox .midBox_mid,.midBox .midBox_right{
	display: inline-block;
	margin: 0px 10px 0 0;
}

.midBox p{
	margin: 0px;
	font:normal 12px 微软雅黑;
	color: #231815;
    line-height: 16px;
}
.midBox .percent{
	font-size: 12px;
	line-height: 16px;
}
.midBox .percent span{
	font:italic 12px 微软雅黑;
	color: #cd4a48;
}
.midBox .midBox_left{
	width:229px;
}
.midBox .midBox_mid{
	width:202px;
}.midBox .midBox_right{
	width:130px;
    height: 139px;
}

.midBox .percent{
	margin:16px 0 0 0;
}
.midBox .percent li{
	list-style: none;
}

/* midBox end */


/* lastBox start */
.lastBox{
	margin:59px 0 37px 0px;
	background-color: green;
}
.leftBox{
	width:415px;
}
.rightBox{
	width:458px;
	margin: 0 0 0 25px;
}
.leftUpBox{
	color: #11245b;
	height: 169px;
	width:415px;	
	border-bottom: solid 2px #10446B;
}
#the{
	font:italic 72px simHei ;
	color: #f5e327;
}
.leftUpBox p{
	margin: 0;
	font:normal 42px/42px simHei;
	padding: 0  0 5px 0;
}
.leftUpBox div{
	font:normal 600 33px simHei;
	padding-bottom:17px; 
}
#qian{
	font:normal 70px 微软雅黑;
	color: #f5e327;
    float:left;
    padding: 0;
    margin: 0;
}
.leftDownBox{
	width: 410px;
	height: 454px;
}
.leftDownBox img{
	float:right;
    width: 166px;
	height: 300px;

    margin: 10px 10px 0 10px;

}
/* lastBox end */

/* footBox start */
.footBox .footBoxLine{
	background-color: #938e8c;
	height: 1px;
	width: 892px;
}
.footBox span{
    font:normal 12px SimHei;
    display: inline-block;
    color: #d45d5c;
    float: right;
}
/* footBox end */