/*
* @Author: lei xie
* @Date:   2017-06-22 18:27:58
* @Last Modified by:   lei xie
* @Last Modified time: 2017-06-22 20:03:47
*/


/*float
.leftBox,.rightBox,.centerBox{
	
	padding:20px;
	margin:20px;
	background-color: #fff;
}

.outsideBox{
	margin:20px;
	padding:20px;
	background-color: #eee;
	border:1px solid #999;
	overflow: hidden;
}

.leftBox{
	width: 160px;
	float: left;
}



.rightBox{
	width: 80px;
	float: right;
}
.centerBox{
	margin:20px 160px 0px 240px;
}
*/

/* position */

.leftBox,.rightBox,.centerBox{
	display: inline-block;
	padding:20px;
	margin:20px;
	background-color: #fff;
}

img{
	border: 1px solid #999;
}
.outsideBox{
	margin:20px;
	padding:20px;
	background-color: #eee;
	border:1px solid #999;
	overflow: hidden;
}

.leftBox{
	width: 158px;
	left: 40px;
	border: 1px solid #999;
	position: absolute;
}



.rightBox{
	width: 78px;
	right: 40px;
	border: 1px solid #999;
	position: absolute;
}
.centerBox{
	margin:20px 160px 0px 240px;
	border: 1px solid #999;
}
