.outsideBox{
	width: 892px;
	height: 1386px;
	background-color: #fff;
	/* background-color: grey;  */
	margin: 0 auto;
	padding:0 44px;
}
/* head start */
.headBox .ife{
	width: 110px;
	height: 61px;
	font:normal 600 12px/12px  SimHei;
	color: #ffffff;
	position: relative;
	background-color: #D45C5B;
}
.headBox .ife span{
    position: absolute;
    left:7px;
    bottom: 6px;
}
.headBox .headBoxLine{
	width: 892px;
	height: 2px;
	background-color: #938e8c;
}
/* head end */

/* topBox start */
.topBox{
	margin: 34px 0px 41px 0px;
	position: relative;
	
}
.topBox img,.topBox .topBoxRight{
	display: inline-block;
}
.topBox img{
	width: 641px;
	height: 301px;
}
.topBox .topBoxRight{
    
    position: absolute;
    right:1px;
	width: 203px;
	height: 300px;
	border-top:2px solid #cc8091;
}
.topBoxRight .about,.topBoxRight .technologe{
	display: inline-block;
	font:normal 17px 微软雅黑;
	color: #000000;
	border-bottom:solid 2px #938e8c;
	margin: 0px 20px 0px 0px;
}
.topBoxRight .about span,.topBoxRight .technologe span{
	font-size: 24px;
}
.topBoxRight p{
	font:normal 12px KaiTi;
	color: #676767;
}
.topBoxRight .bigNumber{
	font:italic 116px 微软雅黑;
	color: #75b86b;
	position: relative;
	left:-25px;
}
.topBoxRight .secondNumber{
	font-family: 微软雅黑;
	color: #cc8091;
}
.topBoxRight .secondNumber .first{
	font-size: 55px;
}
.topBoxRight .secondNumber .second{
	font-size: 21px;
}.topBoxRight  .secondNumber .last{
	font-size: 12px;
}




.midBox{
   background-color: green;
}
.lastBox{
	margin:71px 0 37px 0px;
	background-color: green;
}